<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sgr_simple</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root12345B</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        
        <property name="hibernate.transaction.coordinator_class">jdbc</property>


        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="Model.usuario"/>
        <mapping class="Model.pedido"/>
        <mapping class="Model.acompanhamento"/> 
        <mapping class="Model.bebida"/>
        <mapping class="Model.sobremesa"/>
        <mapping class="Model.proteina"/>
        <mapping class="Model.Fornecedor"/>    
        </session-factory>
</hibernate-configuration>

